WebContent/wsdl/ProductService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.webservice.vp.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.webservice.vp.com" xmlns:intf="http://service.webservice.vp.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.webservice.vp.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="state" type="xsd:string"/>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="getProductsReturn" type="impl:ArrayOf_xsd_anyType"/>
   <element name="productName" type="xsd:string"/>
   <element name="addProductReturn" type="xsd:boolean"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getProductsRequest">

      <wsdl:part element="impl:state" name="state">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductResponse">

      <wsdl:part element="impl:addProductReturn" name="addProductReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductsResponse">

      <wsdl:part element="impl:getProductsReturn" name="getProductsReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductRequest">

      <wsdl:part element="impl:productName" name="productName">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProductService">

      <wsdl:operation name="getProducts" parameterOrder="state">

         <wsdl:input message="impl:getProductsRequest" name="getProductsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProductsResponse" name="getProductsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addProduct" parameterOrder="productName">

         <wsdl:input message="impl:addProductRequest" name="addProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:addProductResponse" name="addProductResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductServiceSoapBinding" type="impl:ProductService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getProducts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProductsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProductsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductServiceService">

      <wsdl:port binding="impl:ProductServiceSoapBinding" name="ProductService">

         <wsdlsoap:address location="http://localhost:8080/SoapService/services/ProductService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
